@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Raleway:400,700');

$transition-duration : .5s;
$font-white : #ffffff;
$font-black : #424242;

* {
	box-sizing: border-box;
	-webkit-transition: all $transition-duration ease;
	   -moz-transition: all $transition-duration ease;
	    -ms-transition: all $transition-duration ease;
	     -o-transition: all $transition-duration ease;
	        transition: all $transition-duration ease;
}

body,
html {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	font-family: 'Lato', sans-serif;
}

.container {
	width: 1170px;
	height: 100%;
	margin: 0 auto;
	padding-top: 50px; 
}

.teaser {
	font-family: 'Lato', sans-serif;
	background-image: url(../img/hero-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 950px;
	background-position: center;
	color: $font-white;

	&__logo {
		display: inline-block;
		background-image: url(../img/logo-teaser.png);
		background-repeat: no-repeat;
		width: 115px;
		height: 20px;
	}

	&__nav {
		display: inline-block;
		font-weight: 700;
		font-size: 14px;
		margin-left: 410px; 
		text-transform: uppercase;
		
		&--info {
			display: inline-block;
			margin-left: 45px;

			a {
				color: #fff;
				text-decoration: none;

				&:hover,
				&:active {
					opacity: 0.5;
				}
			}
		}
	}

	&__information {
		max-width: 600px;
		text-align: center;
		margin: 0 auto;
	}

	&__title {
		text-transform: uppercase;
		font-size: 48px;
		font-weight: 700;
		margin: 245px 0 45px 0;
	}
	
	&__text {
		max-width: 600px;
		font-size: 22px;
		font-weight: 300;
		letter-spacing: 0.5px;
		margin: 45px 0 255px 0;
	}

	&__scroll {
		width: 95px;
		height: 95px;
		background-image: url(../img/scroll.png);
		background-repeat: no-repeat;
		margin: 0 auto;
		&:hover,
		&:active {
			opacity: 0.5;
		}
	}
}

.line {
		width: 85px;
	}

.services {
	font-family: 'Lato', sans-serif;
	color: $font-black;
	text-align: center;

	&__title {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-size: 35px;
		font-weight: 700;
		margin: 110px 0 70px 0;

		&--sm {
			text-transform: capitalize;
			font-family: 'Lato', sans-serif;
			font-size: 28px;
			font-weight: 400;

		}
	}

	&__img {
		display: flex;
		justify-content: center;
		align-item: center;
		display: inline-block;
		width: 116px;
		height: 116px;
	}

	&__text {
		background-size: 18px;
		font-weight: 300;
	}
}

.ba-container {
	width: 1170px;
}

.ba-width-1-3 {
	margin-top: 75px;
	margin-bottom: 110px;
}

.about {
	background-image: url(../img/aboutus-phone.png), url(../img/aboutus-bg.png);
	background-size: auto, cover;
	background-repeat: no-repeat, no-repeat;
	background-position: 85% bottom, center;
	padding-bottom: 100px;

	&__info {
		max-width: 570px;
		font-family: 'Lato', sans-serif;
		color: $font-white;
	}

	&__title {
		text-transform: uppercase;
		font-size: 45px;
		font-weight: 400;
		letter-spacing: 1px;
		margin: 130px 0 auto;
	}

	&__text {
		font-size: 22px;
		font-weight: 100;
		text-align: left;
		letter-spacing: 1px;
		white-space: 28px;
		margin-bottom: 70px;
		opacity: 0.8;
	}

	&__link {
			color: $font-white;

		&:hover,
		&:active {
			opacity: 0.5;
		}
	}
}

.work {
	padding: 100px 0;

	&__title {
		text-transform: uppercase;
		font-size: 35px;
		font-weight: 700;
		text-align: center;
		padding: 0 0 60px 0;
		margin: 0;
	}

	&__button {
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 2px;
		border: 2px solid $font-black;
		padding: 15px 145px;
		max-width: 32%;
		margin-left: 34%;

		&:hover,
		&:active {
			color: $font-white;
			background-color: $font-black;
		}
	}
}

.item {
	height: 420px;
	overflow: hidden;
	position: relative;

	&__img {
		min-width: 100%;
	}

	&__overlay {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: #404040;
		
		&-text {
			position: absolute;
			text-transform: uppercase;
			text-align: center;
			top: 150px;
			left: 80px;
			font-size: 22px;
			font-weight: 400;
			color: #fff;

			&:after {
				content: '';
				position: absolute;
				right: 35%;
				top: 50px;
				width: 43px;
				height: 43px;
				display: block;
				background-image: url(../img/work-link.png);
				background-repeat: no-repeat;
				background-size: cover;

			}
		}
	}

	&:hover,
	&:active {
		.item__overlay {
			opacity: 0.7;
		}
	}
}

.footer {
	background-image: url(../img/bg-footer.png);
	color: $font-white;
	font-family: 'Raleway', sans-serif;
	padding: 50px 0;

	&__title {
		font-size: 35px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		padding: 0 0 25px 0;
	}

	&__socials {
		text-align: center;
		padding: 0;
		margin: 50px 0;
	}

	&__social {
		width: 30px;
		height: 30px;
		display: inline-block;
		background-repeat: no-repeat;
		background-position: center;
		margin: 10px;

		&--tw{
			background-image: url(../img/footer-tw.jpg);
			
		}

		&--fb {
			background-image: url(../img/footer-f.jpg);
		}

		&--in{
			background-image: url(../img/footer-in.jpg);
		}

		&--v {
			background-image: url(../img/footer-v.jpg);
		}
		&--be {
			background-image: url(../img/footer-be.jpg);
		}

		&:hover,
		&:active {
			opacity: 0.5;
		}
	}

	&__form {
		width: 670px;
		margin: 0 auto;
		font-family: 'Lato', sans-serif;

		&-input {
			background-color: transparent;
			border: 1px solid transparent;
			border-bottom: 1.8px solid $font-white;
			opacity: 0.5;
			font-size: 18px;
			color: $font-white;
			font-style: italic;
			width: 45%;
			padding: 15px;

			&--lg {
				width: 100%;
				margin: 80px 0;
			}

			&--left {
				margin-right: 60px;
			}
		}

		&-button {
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 15px 50px;
		border: 2px solid $font-white;
		display: inline-block;
		text-align: center;
		background-color: transparent;
		margin-left: 250px;

		&:hover,
		&:active {
			opacity: 0.5;
		}
	}
}}

















